.app {
  position: relative;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.app h1,
.app h2,
.app h3,
.app h4 {
  font-family: "Raleway", sans-serif;
}

.app__header {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  background-color: #284085;
  box-shadow: 0px 5px 13px 2px rgba(40, 64, 133, 0.3);
}

.app__header h1 {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.app__header h1 span {
  padding-left: 20px;
  text-transform: capitalize;
}

.app__content {
  display: flex;
}

.app__col {
  height: calc(100vh - 50px);
  overflow: auto;
  flex: 1 1 50%;
}
